<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand animated pulse">
                Angular Material C.R.U.D
             </a>
        <button mat-button [matMenuTriggerFor]="aboveMenu">Create</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
            <button mat-menu-item>Jhooomn</button>
            <button mat-menu-item>GitHub</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="belowMenu">Update</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item>Jhooomn</button>
            <button mat-menu-item>GitHub</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu">Delete</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item>Jhooomn</button>
            <button mat-menu-item>GitHub</button>
        </mat-menu>


        <button mat-button [matMenuTriggerFor]="afterMenu">Read</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item>Jhooomn</button>
            <button mat-menu-item>GitHub</button>
        </mat-menu>
    </div>
</nav>
<app-task></app-task>