<div class="container mt-4">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <strong> Add an User </strong>
                    </div>

                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username" [(ngModel)]="selectedUser.username">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Country" [(ngModel)]="selectedUser.country">
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary mr-1" (click)="addOrEdit()">
                            Add
                        </button>
                        <button class="btn btn-danger ml-1" *ngIf="selectedUser.id != 0" (click)="delete()">
                            Delete
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="body">
                    <div class="card-title" style="text-align: center">
                        <strong>User's List</strong>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action" *ngFor="let user of userArray" (click)="edit(user)">
                            <span class="badge badge-primary"> {{user.id}} </span> {{user.username}} - {{user.country}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>